<!DOCTYPE html>
<html>

<head>
    <% include ../includes/header.ejs %>
        <style>
            #searchText {
                color: black;
            }
        </style>
</head>

<body>
    <% include ../includes/nav.ejs %>
        <div class="jumbotron text-center">
            <div class="container">
                <input type="text" name="searchTag" value="<%= items.tag %>" id="searchText">
                <form action="/" method="POST" class="btn">
                    <button type="submit" name="searchTag" id="searchText">Search</button>
                </form>

                <% for(var i=0; i < items.length; i++) {%>

                    <% if(i % 3==0) { %>

                        <div class="card-deck">
                            <% } %>
                                <div class="card cCard">
                                    <h2 class="card-title">
                                        <%= items[i].name %>
                                    </h2>
                                    <img src="<%= items[i].imageUrl %>" class="card-img-top cImage">
                                    <div class="card-body">

                                        <h3>
                                            <%= items[i].price %>
                                        </h3>
                                        <p class="card-text cText">
                                            <%= items[i].description %>
                                        </p>
                                    </div>
                                </div>

                                <% if(i % 3==2) { %>
                        </div>
                        <br>
                        <% } %>
                            <% } %>
            </div>


</body>

</html>